<div class="box">
  <article class="media">
    <div class="media-left">
        <figure class="image is-64x64">
            <%= gravatar_image_tag(@post.user.email, size: 64, alt: @post.user.name) %>
        </figure>
    </div>
    <div class="">
        <div class="container">
            <strong><%= @post.user.name %></strong><br/>
            <small>@<%= @post.user.username %></small><br/>
            <p><%= @post.post %></p>
                    </div>
                    <% if user_signed_in? %>
                        <nav class="level">
                            <div class="level-left is-mobile">
                                <% if current_user == @post.user %>
                                    <%= link_to edit_post_path(@post), class: "level-item" do %>
                                        <span class="icon">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </span>
                                    <%end%>
                                    <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                        <span class="icon">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </span>
                                    <%end%>
                                <%end%>
                            </div>
                        </nav>
                    <%end%>
                </div>
            <div>
  </article>
</div>